.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: transparent;
  color: var(--color-navbar-fg);
  margin: auto;
  border: 2px solid var(--color-primary);
}

/* Navbar.module.css */
.logoArea {
  position: relative;
  width: 120px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-primary);
  padding: 0 3rem;

}

.logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.logoLight {
  display: block;
}

.logoDark {
  display: none;
}

/* This applies ONLY when the <html> has class 'dark' */
:global(html.dark) .logoLight {
  display: none;
}

:global(html.dark) .logoDark {
  display: block;
}

.linksArea {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  
}

.link {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.2s;
}
.link:hover {
  text-decoration: underline;
}

.nav-theme-switcher-div{
  height: 100%;
  border-left: 2px solid #ffffff;
  border-right: 2px solid var(--color-primary);
  padding: 0 3rem;

}
.themeSwitcher {
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background: var(--color-navbar);
  color: var(--color-navbar-fg);
  transition: background 0.2s;
}
.themeSwitcher:hover {
  background: var(--color-accent);
}
.nav-contact-div{
  background-color: red;
}
.contactButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  border: none;
  transition: background 0.2s;
}
.contactButton:hover {
  background: #2563eb;
} 